#parse("templates/MVPController.vm")
package ${IMPORT_PACKAGE_MAP.get(${DOMAIN_ID}).get("${DOMAIN_CLASS_NAME}AppController")};

#controllerImport()

#comment("[APP] ${DOMAIN_TITLE}")
@RestController
@RequestMapping("/app/${CASE_FORMAT_LOWER_HYPHEN.convert(${DOMAIN_CLASS_NAME})}")
@Api(value = "/app/${CASE_FORMAT_LOWER_HYPHEN.convert(${DOMAIN_CLASS_NAME})}", tags = "[APP] ${DOMAIN_TITLE}")
public class ${DOMAIN_CLASS_NAME}AppController {
#controller()
}