#parse("templates/Aggregation.vm")
package $MapperPackagePath;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.springframework.stereotype.Repository;
import org.apache.ibatis.annotations.Mapper;
import ${DOPackagePath}.${AGGREGATION_CLASS_NAME}DO;

#comment("${AGGREGATION_CLASS_DESCRIPTION}Mapper接口")
@Mapper
public interface ${AGGREGATION_CLASS_NAME}Mapper extends BaseMapper<${AGGREGATION_CLASS_NAME}DO> {

}
