#parse("templates/ClassFunction.vm")
#set($aggregationClass = ${IMPORT_PACKAGE_MAP.get("mapper::entity::${DATA_OBJECT_CLASS_NAME}")})
package ${IMPORT_PACKAGE_MAP.get("${aggregationClass}Mapper")};

import java.util.List;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import ${IMPORT_PACKAGE_MAP.get("${DATA_OBJECT_CLASS_NAME}")}.${DATA_OBJECT_CLASS_NAME};
#foreach ($query in ${DOMAIN_QUERY_LIST})
import ${IMPORT_PACKAGE_MAP.get(${query.name})}.${query.name};
#end

#comment("${DATA_OBJECT_CLASS_DESCRIPTION}Mapper接口")
@Mapper
public interface ${aggregationClass}Mapper extends BaseMapper<${DATA_OBJECT_CLASS_NAME}> {

#foreach ($query in ${DOMAIN_QUERY_LIST})
#if(!${query.pagination})
#if(${query.description})
    /**
    * ${query.description}
    */
#end
    ${DATA_OBJECT_CLASS_NAME} ${CASE_FORMAT_LOWER_CAMEL.convert(${query.name})}(${query.name} query);
#end
#end

#foreach ($pageQuery in ${DOMAIN_QUERY_LIST})
#if(${pageQuery.pagination})

    #if(${pageQuery.description})
    /**
     * ${pageQuery.description}
     */
    #end
    List<${DATA_OBJECT_CLASS_NAME}> ${CASE_FORMAT_LOWER_CAMEL.convert(${pageQuery.name})}(${pageQuery.name} pageQuery);
#end
#end
}