parse("templates/Aggregation.vm")
package $RepositoryImplPackagePath;

import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Component;
import java.util.List;
import javax.annotation.Resource;
import ${AggregationPackagePath}.${AggregationName};
import ${AggregationPackagePath}.${AggregationName}Repository;
import ${DOPackagePath}.${AggregationName}DO;
import ${MapperPackagePath}.${AggregationName}Mapper;
import com.wakedata.common.core.util.BeanUtil;

#comment("${AggregationDescription}存储接口实现类")
@Slf4j
@Component
public class ${AggregationName}RepositoryImpl implements ${AggregationName}Repository {

    @Resource
    private ${AggregationName}Mapper mapper;

    @Override
    public Long insert(${AggregationName} aggregation) {
        ${AggregationName}DO aggregationDO = BeanUtil.copy(aggregation, ${AggregationName}DO.class);
        mapper.insert(aggregationDO);
        return aggregationDO.getId();
    }

    @Override
    public void update(${AggregationName} aggregation) {
        ${AggregationName}DO aggregationDO = BeanUtil.copy(aggregation, ${AggregationName}DO.class);
        mapper.updateById(aggregationDO);
    }

    @Override
    public void deleteById(Long id) {
        mapper.deleteById(id);
    }

    @Override
    public ${AggregationName} selectById(Long id) {
        ${AggregationName}DO aggregationDO = mapper.selectById(id);
        return BeanUtil.copy(aggregationDO, ${AggregationName}.class);
    }
}
