package ${PROJECT_PACKAGE}.start;

import com.wakedata.common.mq.annotation.EnableMessageCenter;
import org.mybatis.spring.annotation.MapperScan;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.autoconfigure.domain.EntityScan;
import org.springframework.cloud.openfeign.EnableFeignClients;

/**
 * ${PROJECT_TITLE}-启动类
 *
 * @author visual-ddd
 * @since 1.0
 */
@EnableMessageCenter
@EnableFeignClients(basePackages = {"${PROJECT_PACKAGE}.client.*"})
@SpringBootApplication(scanBasePackages = {"${PROJECT_PACKAGE}"})
@MapperScan("${PROJECT_PACKAGE}.infrastructure.*.repository.mapper")
@EntityScan(basePackages = {"${PROJECT_PACKAGE}.infrastructure.*.repository.model"})
public class StartApplication {

    public static void main(String[] args) {
        SpringApplication.run(StartApplication.class, args);
    }

}
