package ${PROJECT_PACKAGE}.start;

import org.mybatis.spring.annotation.MapperScan;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import com.wakedata.common.mq.annotation.EnableMessageCenter;

/**
 * ${PROJECT_NAME}项目启动类
## *
## * @author ${PROJECT_AUTHOR}
## * @date ${PROJECT_DATE_TIME}
 */
@EnableMessageCenter
@SpringBootApplication(scanBasePackages = {"${PROJECT_PACKAGE}"})
@MapperScan("${PROJECT_PACKAGE}.infrastructure.*.repository.mapper")
public class StartApplication {

    public static void main(String[] args) {
        SpringApplication.run(StartApplication.class, args);
    }

}
