package ${globalLabel.group}.start;

import org.mybatis.spring.annotation.MapperScan;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

/**
 * ${globalLabel.projectName}项目启动类
 *
 * @author ${globalLabel.author}
 * @date ${globalLabel.dateTime}
 */
@SpringBootApplication(scanBasePackages = {"${globalLabel.group}"})
@MapperScan("${globalLabel.group}.infrastructure.*.repository.mapper")
public class StartApplication {

    public static void main(String[] args) {
        SpringApplication.run(StartApplication.class, args);
    }

}
