#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get("${CMD_DTO_CLASS}Convert")};

import ${PROJECT_PACKAGE}.infrastructure.BaseConvert;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;
import ${IMPORT_PACKAGE_MAP.get(${CMD_DTO_CLASS})}.${CMD_DTO_CLASS};
import ${IMPORT_PACKAGE_MAP.get(${CMD_CLASS_NAME})}.${CMD_CLASS_NAME};
#dependencyEnumConverter()

#comment("${CMD_CLASS_NAME}和DTO转换器")
##@Mapper(uses = {
##    #foreach($aggregationEnum in ${AGGREGATION_ENUM_LIST})
##        ${aggregationEnum.name}Converter.class,
##    #end
##})
public interface ${CMD_DTO_CLASS}Convert extends
        BaseConvert<${CMD_DTO_CLASS}, ${CMD_CLASS_NAME}> {

    ${CMD_DTO_CLASS}Convert INSTANCE = Mappers.getMapper(${CMD_DTO_CLASS}Convert.class);
}