#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get(${ENTITY_ID}).get("${ENTITY_DTO_CLASS_NAME}2${ENTITY_CLASS_NAME}Convert")};

import ${PROJECT_PACKAGE}.infrastructure.BaseConvert;
import ${PROJECT_PACKAGE}.infrastructure.BaseJsonConvertor;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;
import ${IMPORT_PACKAGE_MAP.get(${ENTITY_ID}).get("${ENTITY_DTO_CLASS_NAME}")}.${ENTITY_DTO_CLASS_NAME};
import ${IMPORT_PACKAGE_MAP.get(${ENTITY_ID}).get(${ENTITY_CLASS_NAME})}.${ENTITY_CLASS_NAME};
#importEnumConverter()

@Mapper(uses = {
        BaseJsonConvertor.class,
#foreach($aggregationEnum in ${AGGREGATION_ENUM_LIST})
        ${aggregationEnum.name}Converter.class,
#end
})
public interface ${ENTITY_DTO_CLASS_NAME}2${ENTITY_CLASS_NAME}Convert extends BaseConvert<${ENTITY_DTO_CLASS_NAME}, ${ENTITY_CLASS_NAME}> {

    ${ENTITY_DTO_CLASS_NAME}2${ENTITY_CLASS_NAME}Convert INSTANCE = Mappers.getMapper(${ENTITY_DTO_CLASS_NAME}2${ENTITY_CLASS_NAME}Convert.class);
}