#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get(${BUSINESS_ID}).get("${BUSINESS_CLASS_NAME}RpcService")};

import com.wakedata.common.core.dto.PageResultDTO;
import com.wakedata.common.core.dto.ResultDTO;
#foreach ($query in ${BUSINESS_QUERY_LIST})
import ${IMPORT_PACKAGE_MAP.get(${query.identity}).get("${query.name}")}.${query.name};
#end
#foreach ($dto in ${BUSINESS_DTO_LIST})
import ${IMPORT_PACKAGE_MAP.get(${dto.identity}).get("${dto.name}")}.${dto.name};
#end
import java.util.*;
import java.math.*;

#comment("${BUSINESS_DESCRIPTION}-RPC能力接口")
public interface ${BUSINESS_CLASS_NAME}RpcService {
#foreach ($query in ${BUSINESS_QUERY_LIST})

    /** ${query.description} */
#if(${query.pagination})
    PageResultDTO<List<${PARSE_TYPE_UTIL.parse(${query.returnInfo.type})}>> ${CASE_FORMAT_LOWER_CAMEL.convert(${query.name})}(${query.name} pageQuery);
#end
#if(!${query.pagination})
    ResultDTO<${PARSE_TYPE_UTIL.parse(${query.returnInfo.type})}> ${CASE_FORMAT_LOWER_CAMEL.convert(${query.name})}(${query.name} request);
#end
#end

}