#parse("templates/Cmd.vm")
package ${CMD_APP_CONVERT_PACKAGE_PATH};

import ${PROJECT_PACKAGE}.infrastructure.BaseConvert;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;
import ${CMD_DTO_PACKAGE_PATH}.${CMD_CLASS_NAME}DTO;
import ${CMD_PACKAGE_PATH}.${CMD_CLASS_NAME};

#comment("${CMD_CLASS_NAME}和DTO转换器")
@Mapper
public interface ${CMD_CLASS_NAME}DTOConvert extends
    BaseConvert<${CMD_CLASS_NAME}DTO, ${CMD_CLASS_NAME}> {

        ${CMD_CLASS_NAME}DTOConvert INSTANCE = Mappers.getMapper(${CMD_CLASS_NAME}DTOConvert.class);
}