#parse("templates/Cmd.vm")
package $CmdPackagePath;

#importPackage($CmdImportPackages)
import org.springframework.stereotype.Component;
import org.springframework.transaction.annotation.Transactional;

#comment($CmdDescription)
@Component
public class ${CmdName}Handler {

    @Transactional(rollbackFor = Exception.class)
    public void handle(${CmdName}Handler cmd){

    }

}
