#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get(${BUSINESS_QUERY_ID}).get(${BUSINESS_QUERY_CLASS_NAME})};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import java.util.List;

#comment("${BUSINESS_QUERY_CLASS_DESCRIPTION}")
@Data
@ApiModel(value = "${BUSINESS_QUERY_CLASS_DESCRIPTION}")
#if(!${BUSINESS_QUERY_PAGINATION})
public class ${BUSINESS_QUERY_CLASS_NAME} {
#end
#if(${BUSINESS_QUERY_PAGINATION})
public class ${BUSINESS_QUERY_CLASS_NAME} {
#end
#filedExt(${BUSINESS_QUERY_CLASS_FIELDS})

}