#parse("templates/Cmd.vm")
package ${CMD_DTO_PACKAGE_PATH};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import java.util.List;

#comment("${CMD_CLASS_DESCRIPTION}")
@Data
@ApiModel(value = "${CMD_CLASS_DESCRIPTION}")
public class ${CMD_CATEGORY}DTO {
#foreach ($field in $CMD_CLASS_FIELDS)

#if($field.description)
    @ApiModelProperty(value = "${field.description}")
#end
    ${field.access} ${AGGREGATION_GENERATOR_UTIL.dtoEnumType2Value(${field.type})} ${field.name};
#end
}