#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get(${QUERY_RESULT_CLASS_NAME})};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import java.util.List;
import com.wakedata.common.core.base.BaseDTO;
import lombok.EqualsAndHashCode;

#comment("$QUERY_RESULT_CLASS_DESCRIPTION")
@Data
@EqualsAndHashCode(callSuper = true)
@ApiModel(value = "${QUERY_RESULT_CLASS_DESCRIPTION}")
public class ${QUERY_RESULT_CLASS_NAME} extends BaseDTO {
    #filedExt(${QUERY_RESULT_CLASS_FIELDS}, "swagger")

}