#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get(${QUERY_RESULT_CLASS_NAME})};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import java.util.List;
import com.wakedata.common.core.base.BaseDTO;
import lombok.EqualsAndHashCode;

#comment("$QUERY_RESULT_CLASS_DESCRIPTION")
@Data
@EqualsAndHashCode(callSuper = true)
@ApiModel(value = "${QUERY_RESULT_CLASS_DESCRIPTION}")
public class ${QUERY_RESULT_CLASS_NAME} extends BaseDTO {
#foreach ($field in ${QUERY_RESULT_CLASS_FIELDS})

    #printApiDesc(${field})
    #set(${signType} = -1)
    #foreach($queryResultNode in ${DOMAIN_DTO_LIST})
        #if(${queryResultNode.name} == ${field.type})
            #set(${signType} = 1)
        #end
        #if(${queryResultNode.excludeDTOSuffix()} == ${field.type})
            #set(${signType} = 2)
        #end
    #end
    #if(${signType} == -1)
    ${field.access} ${field.type} ${field.name};
    #end
    #if(${signType} == 1)
    ${field.access} ${field.type} ${field.name};
    #end
    #if(${signType} == 2)
        ${field.access} ${field.type}DTO ${field.name};
    #end
#end
}