#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get("${VALUE_OBJECT_CLASS_NAME}DTO")};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import java.util.List;

#comment("${VALUE_OBJECT_CLASS_DESCRIPTION}")
@Data
@ApiModel(value = "${VALUE_OBJECT_CLASS_DESCRIPTION}")
public class ${VALUE_OBJECT_CLASS_NAME}DTO {
#foreach ($field in ${VALUE_OBJECT_CLASS_FIELDS})

    #if($field.description)
    @ApiModelProperty(value = "${field.description}")
    #end
    #if(!$field.description && $field.description == "")
    @ApiModelProperty(value = "${field.title}")
    #end
    #printEnumField(${field})
#end
}
#macro(printEnumField $field)
#set(${signType} = -1)
#foreach($enumNode in ${AGGREGATION_ENUM_LIST})
    #if(${enumNode.name} == ${field.type})
        #set(${signType} = 1)
    #end
#end
#foreach($valueObjectNode in ${AGGREGATION_VALUE_OBJECT_LIST})
    #if(${valueObjectNode.name} == ${field.type})
        #set(${signType} = 2)
    #end
#end
#if(${signType} == -1)
    ${field.access} ${field.type} ${field.name};
#end
#if(${signType} == 1)
    ${field.access} Integer ${field.name};
#end
#if(${signType} == 2)
    ${field.access} ${field.type}DTO ${field.name};
#end
#end