<?xml version="1.0" encoding="UTF-8"?>
<project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/POM/4.0.0"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <parent>
        <groupId>${PROJECT_PACKAGE}</groupId>
        <artifactId>${PROJECT_NAME}</artifactId>
        <version>${PROJECT_VERSION}</version>
    </parent>

    <artifactId>${PROJECT_NAME}-app</artifactId>
    <packaging>jar</packaging>

    <dependencies>
        <!--Project modules Start-->
        <dependency>
            <groupId>${PROJECT_PACKAGE}</groupId>
            <artifactId>${PROJECT_NAME}-client</artifactId>
        </dependency>
        <dependency>
            <groupId>${PROJECT_PACKAGE}</groupId>
            <artifactId>${PROJECT_NAME}-infrastructure</artifactId>
        </dependency>
        <!--Project modules End-->

        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-test</artifactId>
            <scope>test</scope>
        </dependency>
    </dependencies>

</project>
