#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get(${BUSINESS_DTO_ID}).get(${BUSINESS_DTO_CLASS_NAME})};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import java.util.*;
import java.math.*;
import java.time.LocalDateTime;
import com.wakedata.common.core.base.BaseDTO;
import lombok.EqualsAndHashCode;
import javax.validation.constraints.NotNull;

#comment("$BUSINESS_DTO_CLASS_TITLE")
@Data
@EqualsAndHashCode(callSuper = true)
@ApiModel(description = "${BUSINESS_DTO_CLASS_TITLE}")
public class ${BUSINESS_DTO_CLASS_NAME} extends BaseDTO {
#filedExt(${BUSINESS_DTO_CLASS_FIELDS})

}