#parse("Cmd.vm")
package $CmdPackagePath;

import io.swagger.annotations.ApiModel;
import lombok.Data;
import java.time.LocalDateTime;

#comment($CmdDescription)
@Data
@ApiModel(description = "${CmdDescription}")
public class ${CmdName} {
    #filed($CmdFields)
    #method($CmdMethods)

}