#parse("Event.vm")
package $EventPackagePath;

import lombok.Data;
import java.time.LocalDateTime;

#comment($EventDescription)
@Data
public class ${EventName}  {
    #filed($EventFields)
    #method($EventMethods)

}
