#parse("templates/Aggregation.vm")
package $AggregationPackagePath;

import lombok.Data;

#comment($AggregationDescription)
@Data
public class $AggregationName implements I${AggregationName} {
    #filed($AggregationFields)
    #method($AggregationMethods)

}