<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
  namespace="${globalLabel.group}.infrastructure.${classLabel.classLowName}.repository.mapper.${classLabel.name}Mapper">
  <resultMap
    type="${globalLabel.group}.infrastructure.${classLabel.classLowName}.repository.model.${classLabel.name}DO"
    id="${classLabel.classLowName}Map">
      #foreach($columnInfo in $columns)
        <result property="${columnInfo.attrLowName}" column="${columnInfo.columnName}"/>
      #end
  </resultMap>
</mapper>