#parse("templates/PageQuery.vm")
package ${PAGE_QUERY_EXE_PACKAGE_PATH};

import java.util.List;
import com.wakedata.common.core.dto.PageResultDTO;
import org.springframework.stereotype.Component;
import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;
import ${PAGE_QUERY_PACKAGE_PATH}.${PAGE_QUERY_CLASS_NAME};

#comment("${PAGE_QUERY_CLASS_DESCRIPTION}-分页查询器")
@Component
public class ${PAGE_QUERY_CLASS_NAME}Exe {

    public PageResultDTO<List<${QUERY_RESULT_TYPE}>> execute(${PAGE_QUERY_CLASS_NAME} pageQuery) {
        PageHelper.startPage(pageQuery.getPageNo(),pageQuery.getPageSize());

        PageInfo<${QUERY_RESULT_TYPE}> pageInfo = new PageInfo<>();
        PageResultDTO<List<${QUERY_RESULT_TYPE}>> pageResultDTO = new PageResultDTO<>();
        pageResultDTO.setData(pageInfo.getList());
        pageResultDTO.setPageNo(pageInfo.getPageNum());
        pageResultDTO.setPageSize(pageInfo.getSize());
        pageResultDTO.setTotalCount(pageInfo.getTotal());
        return pageResultDTO;
    }
}
