#parse("templates/Query.vm")
package ${QUERY_EXE_PACKAGE_PATH};

import java.util.List;
import com.wakedata.common.core.dto.ResultDTO;
import org.springframework.stereotype.Component;
import ${QUERY_PACKAGE_PATH}.${QUERY_CLASS_NAME};
#dependencyQueryResult()

#comment("${QUERY_CLASS_DESCRIPTION}-查询器")
@Component
public class ${QUERY_CLASS_NAME}Exe {

    public ResultDTO<${QUERY_RESULT_TYPE}> execute(${QUERY_CLASS_NAME} query) {

        return null;
    }
}
