#parse("templates/Aggregation.vm")
package ${IMPORT_PACKAGE_MAP.get(${AGGREGATION_ID}).get("Abstract${AGGREGATION_CLASS_NAME}")};

import lombok.Data;
import lombok.EqualsAndHashCode;
import java.util.List;

#comment("${AGGREGATION_CLASS_DESCRIPTION}-聚合根")
@Data
public abstract class Abstract${AGGREGATION_CLASS_NAME} {

    #if($AGGREGATION_CLASS_ID.description)
    /** ${AGGREGATION_CLASS_ID.description} */
    #end
    #if(!$AGGREGATION_CLASS_ID.description && $AGGREGATION_CLASS_ID.description == "")
    /** ${AGGREGATION_CLASS_ID.title} */
    #end
    ${AGGREGATION_CLASS_ID.getAccess()} ${PARSE_TYPE_UTIL.parse(${AGGREGATION_CLASS_ID.getType()})} ${AGGREGATION_CLASS_ID.name};
    #filed(${AGGREGATION_CLASS_FIELDS})
    #abstractMethod(${AGGREGATION_CLASS_METHODS})

}