#parse("templates/Aggregation.vm")
package ${IMPORT_PACKAGE_MAP.get("Abstract${AGGREGATION_CLASS_NAME}")};

import lombok.Data;
import lombok.EqualsAndHashCode;
import java.util.List;

#comment("${AGGREGATION_CLASS_DESCRIPTION}-聚合根")
@Data
public abstract class Abstract${AGGREGATION_CLASS_NAME} {

    /** ${AGGREGATION_CLASS_ID.getDescription()} */
    ${AGGREGATION_CLASS_ID.getAccess()} ${AGGREGATION_CLASS_ID.getType()} ${AGGREGATION_CLASS_ID.getName()};
    #filed($AGGREGATION_CLASS_FIELDS)
    #abstractMethod(${AGGREGATION_CLASS_METHODS})

}