#parse("templates/Aggregation.vm")
package $AGGREGATION_PACKAGE_PATH;

import java.util.List;
#foreach($cmd in ${AGGREGATION_CMD_LIST})
#if(${cmd.cmdType} == "UPDATE")
import ${AGGREGATION_PACKAGE_PATH}.${cmd.umlClass.classPackage}.${cmd.umlClass.className};
#end
#if(${cmd.cmdType} == "DELETE")
import ${AGGREGATION_PACKAGE_PATH}.${cmd.umlClass.classPackage}.${cmd.umlClass.className};
#end
#end

#comment("${AGGREGATION_CLASS_DESCRIPTION}-聚合根-能力")
public class ${AGGREGATION_CLASS_NAME} extends Abstract${AGGREGATION_CLASS_NAME} {
    #overrideMethod($AGGREGATION_CLASS_METHODS)
#foreach($cmd in ${AGGREGATION_CMD_LIST})
#if(${cmd.cmdType} == "UPDATE")

    public void ${cmd.umlClass.getOriginalClassPackage()}(${cmd.umlClass.className} updateCmd) {
    #foreach($cmdField in ${cmd.umlClass.fieldList})
        this.set${cmdField.name.substring(0, 1).toUpperCase()}${cmdField.name.substring(1)}(updateCmd.get${cmdField.name.substring(0, 1).toUpperCase()}${cmdField.name.substring(1)}());
    #end
    }
#end
#if(${cmd.cmdType} == "DELETE")

    public void ${cmd.umlClass.getOriginalClassPackage()}(${cmd.umlClass.className} removeCmd) {
        this.setId = removeCmd.getId();
    }
#end
#end

}