#parse("templates/Aggregation.vm")
package $AggregationPackagePath;

#comment("${AggregationDescription}-聚合根-仓储接口")
public interface ${AggregationName}Repository {

    /**
     * 新增
     *
     * @param aggregation 聚合
     * @return 主键id
     */
    Long insert${AggregationName}(${AggregationName} aggregation);

    /**
     * 更新
     *
     * @param aggregation 聚合
     */
    void update${AggregationName}(${AggregationName} aggregation);

    /**
     * 删除
     *
     * @param id 主键
     */
    void delete${AggregationName}ById(Long id);

    /**
     * 查询
     *
     * @param id 主键
     * @return 查询结果
     */
    ${AggregationName} select${AggregationName}ById(Long id);

}
