#parse("templates/Aggregation.vm")
package $AGGREGATION_PACKAGE_PATH;

import java.util.List;
#foreach($cmd in ${AGGREGATION_CMD_LIST})
#if(${cmd.repository} == "MODIFY" || ${cmd.repository} == "REMOVE")
import ${AGGREGATION_PACKAGE_PATH}.${cmd.category}.${cmd.name};
#end
#end

#comment("${AGGREGATION_CLASS_DESCRIPTION}-聚合根-能力")
public class ${AGGREGATION_CLASS_NAME} extends Abstract${AGGREGATION_CLASS_NAME} {
    #overrideMethod($AGGREGATION_CLASS_METHODS)
#foreach($cmd in ${AGGREGATION_CMD_LIST})
    #if(${cmd.repository} == "MODIFY")

    public void ${CASE_FORMAT_LOWER_CAMEL.convert(${cmd.category})}(${cmd.name} updateCmd) {
    #foreach($cmdField in ${cmd.propertyList})
        this.set${cmdField.name.substring(0, 1).toUpperCase()}${cmdField.name.substring(1)}(updateCmd.get${cmdField.name.substring(0, 1).toUpperCase()}${cmdField.name.substring(1)}());
    #end
    }
#end
#if(${cmd.repository} == "REMOVE")

    public void ${CASE_FORMAT_LOWER_CAMEL.convert(${cmd.category})}(${cmd.name} removeCmd) {
        this.setId = removeCmd.getId();
    }
#end
#end

}