#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get(${ENTITY_ID}).get("${ENTITY_CLASS_NAME}Converter")};

import cn.hutool.json.JSONUtil;

import java.util.List;

#comment("${ENTITY_CLASS_TITLE}-实体JSON转换器")
public class ${ENTITY_CLASS_NAME}Converter {

    public String entity2Json(${ENTITY_CLASS_NAME} entity) {
        return JSONUtil.toJsonStr(entity);
    }

    public ${ENTITY_CLASS_NAME} json2Entity(String value) {
        return JSONUtil.toBean(value, ${ENTITY_CLASS_NAME}.class);
    }

    public String list2json(List<${ENTITY_CLASS_NAME}> entityList) {
        return JSONUtil.toJsonStr(entityList);
    }

    public List<${ENTITY_CLASS_NAME}> json2list(String value) {
        return JSONUtil.toList(value, ${ENTITY_CLASS_NAME}.class);
    }

}