#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get("${ENUM_CLASS_NAME}")};

import com.wakedata.common.core.base.BaseEnum;

#comment("${ENUM_CLASS_DESCRIPTION}-枚举")
public enum ${ENUM_CLASS_NAME} implements BaseEnum {
    #foreach ($constant in ${ENUM_CLASS_CONSTANTS})

    #if($constant.title)
    /** ${constant.title} */
    #end
    ${constant.name}(${constant.code}, "${constant.description}"),
    #end
    ;

    private final Integer value;
    private final String desc;

    ${ENUM_CLASS_NAME}(Integer value, String desc) {
        this.value = value;
        this.desc = desc;
    }

    @Override
    public Integer getValue() {
        return this.value;
    }

    @Override
    public String getDesc() {
        return this.desc;
    }
}