<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wakedt.visual.infrastructure.domaindesign.repository.mapper.DomainDesignVersionMapper">

    <select id="domainDesignVersionQuery" parameterType="com.wakedt.visual.client.domaindesign.query.DomainDesignVersionQuery"
            resultType="com.wakedt.visual.infrastructure.domaindesign.repository.model.DomainDesignVersionDO">
        SELECT *
        FROM wd_domain_design_version t1
        <where>
            <if test="id != null">
                AND t1.id = #{id}
            </if>
        </where>
    </select>

    <select id="domainDesignVersionPageQuery" parameterType="com.wakedt.visual.client.domaindesign.query.DomainDesignVersionPageQuery"
            resultType="com.wakedt.visual.infrastructure.domaindesign.repository.model.DomainDesignVersionDO">
        SELECT *
        FROM wd_domain_design_version t1
        <where>
            <if test="domainDesignId != null and domainDesignId != ''">
                AND t1.domain_design_id LIKE CONCAT('%',#{domainDesignId},'%')
            </if>
        </where>
        ORDER BY t1.create_time
    </select>

    <select id="domainDesignLatestVersionQuery" parameterType="com.wakedt.visual.client.domaindesign.query.DomainDesignLatestVersionQuery"
            resultType="com.wakedt.visual.infrastructure.domaindesign.repository.model.DomainDesignVersionDO">
        SELECT *
        FROM wd_domain_design_version t1
        <where>
            <if test="id != null">
                AND t1.id = #{id}
            </if>
        </where>
    </select>

</mapper>