## import
#macro(importPackage $importPackages) {
    #foreach ($importPackage in $importPackages)
    import ${importPackage};
    #end
#end
## 描述
#macro(comment $description)
/**
* $description
*
* @author ${globalLabel.author}
* @date ${globalLabel.dateTime}
*/
#end
## 字段属性列表
#macro(filed $filedList)
    #foreach ($field in $filedList)

    /**
    * ${field.comment}
    */
    ${field.modifier} ${field.type} ${field.name};
    #end
#end
## 方法列表
#macro(method $methodList)
    #foreach ($method in $methodList)

    /**
     * ${method.comment}
     */
    ${method.returnType} ${method.name}(${method.attributeLabel});

    #end
#end