package ${classLabel.packagePath};
#parse("Method.vm")
#parse("Field.vm")
#parse("Head.vm")
#foreach($importPackage in $classLabel.importPackages)
import ${importPackage};
#end

/**
 * $!{classLabel.description}
 *
 * @author ${globalLabel.author}
 * @date ${globalLabel.dateTime}
 */
#class() {

    #fileld()

    #classMethod()

}
