#parse("ClassFunction.vm")
## 聚合和action
#set($ActionName = ${classLabel.actionName})
#set($AggregationName = ${classLabel.parentAggregation.name})
#set($AggregationNameLowerName = "${AggregationName.substring(0, 1).toLowerCase()}${AggregationName.substring(1)}")
## 指令元素提供的数据
#set($CmdName = ${classLabel.name})
#set($CmdPackagePath = "${globalLabel.group}.domain.${globalLabel.filed}.${AggregationNameLowerName}.${ActionName}")
#set($CmdImportPackages = ${classLabel.importClassSet})
#set($CmdDescription = ${classLabel.description})
#set($CmdFields = ${classLabel.fieldList})
#set($CmdMethods = ${classLabel.methodList})