#parse("ClassFunction.vm")
## 指令元素提供的数据
#set($CmdName = ${classLabel.name})
#set($CmdpackagePath = "${globalLabel.group}.domain.${globalLabel.filed}.${classLabel.parentAggregation.name}.${CmdName}")
#set($CmdImportPackages = ${classLabel.importClassSet})
#set($CmdDescription = ${classLabel.description})
#set($CmdFields = ${classLabel.fieldLabelList})
#set($CmdMethods = ${classLabel.methodLabelList})