package ${interfaceFile.packagePath};

#foreach($importClass in $interfaceFile.importClassSet)
import ${importClass};
#end

/**
 * $!{interfaceFile.description}
 *
 * @author ${globalLabel.author}
 * @date ${globalLabel.dateTime}
 */
#foreach($annotation in $classFile.annotations)
${annotation}
#end
${interfaceFile.modifier} interface ${interfaceFile.name} #if(${interface.extendsInterfaceSet})extends #foreach($interface in $interface.extendsInterfaceSet)#if(${foreach.count} == 1)#else, #end${interface.name}#end#end {

    #foreach($methodLabel in $methodLabels)
    #if($methodLabel.comment)
    /**
     * ${methodLabel.comment}
     */
    #end
    #foreach($methodAnnotations in $methodLabel.annotations)
    ${methodAnnotations}
    #end
    ${methodLabel.modifier} ${methodLabel.returnType} ${methodLabel.name}(${methodLabel.attributeLabel})
    #end

}
