package ${classLabel.packagePath};

import io.swagger.annotations.ApiModel;
import lombok.Data;

/**
 * ${classLabel.description}
 *
 * @author ${globalLabel.author}
 * @date ${globalLabel.dateTime}
 */
@Data
@ApiModel(description = "${classLabel.description}")
public class ${classLabel.name} {
#foreach ($fieldLabel in $fieldLabels)

    /**
     * ${fieldLabel.comment}
     */
    ${fieldLabel.modifier} ${fieldLabel.type} ${fieldLabel.name};
#end
}