package ${PROJECT_PACKAGE}.start.config;

import lombok.SneakyThrows;
import lombok.extern.slf4j.Slf4j;
import org.apache.commons.lang3.StringUtils;
import org.springframework.context.ApplicationContext;
import org.springframework.context.ApplicationListener;
import org.springframework.context.event.ApplicationContextEvent;
import org.springframework.core.env.Environment;
import org.springframework.stereotype.Component;

import java.net.InetAddress;
import java.net.UnknownHostException;

@Slf4j
@Component
public class StartInfoPrintListener implements ApplicationListener<ApplicationContextEvent> {

    private static final String PORT = "server.port";
    public static final String DEFAULT_PORT = "8080";
    public static final String SERVER_SERVLET_CONTEXT_PATH = "server.servlet.context-path";

    @SneakyThrows
    @Override
    public void onApplicationEvent(ApplicationContextEvent event) {
        ApplicationContext applicationContext = event.getApplicationContext();
        startInfoPrint(applicationContext);
    }

    /**
     * 打印启动日志
     *
     * @param application application
     * @throws UnknownHostException UnknownHostException
     */
    private static void startInfoPrint(ApplicationContext application) throws UnknownHostException {
        Environment env = application.getEnvironment();
        String ip = InetAddress.getLocalHost().getHostAddress();
        String port = env.getProperty(PORT);
        port = port == null ? DEFAULT_PORT : port;
        String path = env.getProperty(SERVER_SERVLET_CONTEXT_PATH);
        path = path == null ? StringUtils.EMPTY : path;
        log.info("\n----------------------------------------------------------\n\t" +
                "Application Demo is running! Access URLs:\n\t" +
                "本地访问地址: \thttp://localhost:" + port + path + "/\n\t" +
                "外部访问地址: \thttp://" + ip + ":" + port + path + "/\n\t" +
                "Swagger文档: \thttp://" + ip + ":" + port + path + "/doc.html\n" +
                "----------------------------------------------------------");
    }
}
