#parse("templates/Cmd.vm")
package ${CMD_PACKAGE_PATH};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import java.util.List;

#comment("${CMD_CLASS_DESCRIPTION}-指令")
@Data
@ApiModel(value = "${CMD_CLASS_DESCRIPTION}指令")
public class ${CMD_CLASS_NAME} {
    #filedExt($CmdFields, ["swagger"])

}