#parse("templates/Cmd.vm")
package ${IMPORT_PACKAGE_MAP.get("${CMD_CLASS_NAME}")};

import io.swagger.annotations.ApiModel;
import lombok.AllArgsConstructor;
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import java.util.List;
import lombok.NoArgsConstructor;
import ${IMPORT_PACKAGE_MAP.get("${AGGREGATION_CLASS_NAME}")}.*;

#comment("${CMD_CLASS_DESCRIPTION}-指令")
@Data
@AllArgsConstructor
@NoArgsConstructor
@ApiModel(value = "${CMD_CLASS_DESCRIPTION}指令")
public class ${CMD_CLASS_NAME} {
    #filed($CMD_CLASS_FIELDS)

}