#parse("templates/Cmd.vm")
package ${IMPORT_PACKAGE_MAP.get("${CMD_CLASS_NAME}Handler")};

import com.wakedata.common.domainevent.DomainEventPublisher;
import org.springframework.stereotype.Component;
import javax.annotation.Resource;
import ${IMPORT_PACKAGE_MAP.get("${AGGREGATION_CLASS_NAME}")}.*;

#comment("${CMD_CLASS_DESCRIPTION}-指令处理器")
@Component
public class ${CMD_CLASS_NAME}Handler {

    @Resource
    private ${AGGREGATION_CLASS_NAME}Repository repository;

    public void handle(${CMD_CLASS_NAME} cmd) {

        // DomainEventPublisher.getInstance().postAfterCommit(new ${CMD_EVENT_CLASS_NAME}(cmd));
    }
}