#parse("templates/Cmd.vm")
#set($aggregation = ${CASE_FORMAT_LOWER_CAMEL.convert(${AGGREGATION_CLASS_NAME})})
package ${CMD_PACKAGE_PATH};

import com.wakedata.common.domainevent.DomainEventPublisher;
import org.springframework.stereotype.Component;
import javax.annotation.Resource;
import ${AGGREGATION_PACKAGE_PATH}.*;

#comment("${CMD_CLASS_DESCRIPTION}-指令处理器")
@Component
public class ${CMD_CLASS_NAME}Handler {

    @Resource
    private ${AGGREGATION_CLASS_NAME}Repository repository;

    public void handle(${CMD_CLASS_NAME} removeCmd) {
        ${AGGREGATION_CLASS_NAME} ${aggregation} = repository.find(removeCmd.getId());
        ${aggregation}.${CMD_CLASS_PACKAGE_ORIGINAL}(removeCmd);
        repository.remove(${aggregation});

//        DomainEventPublisher.getInstance().postAfterCommit(new ${CMD_EVENT_CLASS_NAME}(removeCmd));
    }
}