#parse("templates/Event.vm")
#set($encode = "{event.${ProjectName}.${DomainName}.${AggregationLowerName}.${ActionName}}")
package $EventPackagePath;

import com.wakedata.common.domainevent.model.BaseDomainEvent;
import lombok.Data;
import lombok.EqualsAndHashCode;

import java.util.List;

#comment("$EventDescription-指令事件")
@Data
@EqualsAndHashCode(callSuper = true)
public class ${EventName} extends BaseDomainEvent {
    #filed($EventFields)
    #method($EventMethods)

    public ${EventName}(${CmdClassName} cmd
        #foreach($eventField in ${EventFields})
            #set($result = 0)
            #isFieldParttern($eventField.name, $result)
            #if($result == 0)
        , $eventField.type $eventField.name
            #end
        #end
    ) {
    #foreach ($eventField in ${EventFields})
        #set($hasPrint = 0)
    #foreach($cmdField in ${CmdFieldList})
        #if($eventField.name == $cmdField.name)
        this.${eventField.name} = cmd.get${eventField.name.substring(0, 1).toUpperCase()}${eventField.name.substring(1)}();
        #set($hasPrint = 1)
        #end
    #end
        #if($hasPrint == 0)
        this.${eventField.name} = ${eventField.name};
        #set($hasPrint = 1)
        #end
    #end
    }

    @Override
    public String eventCode() {
        return "$$encode";
    }

#macro(isFieldParttern $eventFieldName, $result)
    #foreach($cmdField in ${CmdFieldList})
    #if($eventFieldName == $cmdField.name)
        #set($result = 1)
    #end
    #end
#end
}
