#parse("templates/ClassFunction.vm")
#set($aggregation = ${CASE_FORMAT_LOWER_CAMEL.convert(${AGGREGATION_CLASS_NAME})})
package ${IMPORT_PACKAGE_MAP.get(${CMD_ID}).get("${CMD_CLASS_NAME}Handler")};

import com.wakedata.common.domainevent.DomainEventPublisher;
import org.springframework.stereotype.Component;
import javax.annotation.Resource;
import ${IMPORT_PACKAGE_MAP.get(${AGGREGATION_ID}).get("${AGGREGATION_CLASS_NAME}")}.*;

#comment("${CMD_CLASS_TITLE}-指令处理器")
@Component
public class ${CMD_CLASS_NAME}Handler {

    @Resource
    private ${AGGREGATION_CLASS_NAME}Repository repository;

    public void handle(${CMD_CLASS_NAME} updateCmd) {
        ${AGGREGATION_CLASS_NAME} ${aggregation} = repository.find(updateCmd.getId());
        ${aggregation}.${CASE_FORMAT_LOWER_CAMEL.convert(${CMD_CATEGORY})}(updateCmd);
#foreach($ruleInfo in ${CMD_RULE_LIST})

        /* TODO ${ruleInfo.name}(${ruleInfo.title}) ${ruleInfo.description.replaceAll("\n","\\n")} */
#end

        repository.update(${aggregation});

#if(${CMD_EVENT_ENABLE})
        DomainEventPublisher.getInstance().postAfterCommit(new ${CMD_EVENT_CLASS_NAME}(updateCmd));
#end
#if(!${CMD_EVENT_ENABLE})
        // DomainEventPublisher.getInstance().postAfterCommit(new ${CMD_EVENT_CLASS_NAME}(updateCmd));
#end
    }
}