#macro(sayHello $name)
hello $name
#end

## 导入外部类文件
#macro(import)
    #foreach($importPackage in $classLabel.importPackages)
    import ${importPackage};
    #end
#end

## 导入外部类文件
#macro(field)
    #foreach ($fieldLabel in $fieldLabels)

    /**
    * ${fieldLabel.comment}
    */
        ${fieldLabel.modifier} ${fieldLabel.type} ${fieldLabel.name};
    #end
#end

