#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get(${CMD_ID}).get("${EXTERNAL_EVENT_CLASS_NAME}")};

import lombok.AllArgsConstructor;
import lombok.Data;
import java.util.*;
import java.math.*;
import java.time.LocalDateTime;
import lombok.NoArgsConstructor;

#comment("外部事件")
@Data
@AllArgsConstructor
@NoArgsConstructor
public class ${EXTERNAL_EVENT_CLASS_NAME} {

}