#parse("templates/Aggregation.vm")
package $InfraConvertPackagePath;

import ${PROJECT_PACKAGE}.infrastructure.BaseConvert;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;
import ${AGGREGATION_PACKAGE_PATH}.${AGGREGATION_CLASS_NAME};
import ${DOPackagePath}.${AGGREGATION_CLASS_NAME}DO;

#comment("${AGGREGATION_CLASS_NAME}和DO转换器")
@Mapper
public interface ${AGGREGATION_CLASS_NAME}DoConvert extends
    BaseConvert<${AGGREGATION_CLASS_NAME}, ${AGGREGATION_CLASS_NAME}DO> {

    ${AGGREGATION_CLASS_NAME}DoConvert INSTANCE = Mappers.getMapper(${AGGREGATION_CLASS_NAME}DoConvert.class);
}
