#parse("templates/ClassFunction.vm")
#set($doId = ${OBJECT_MAPPER_TARGET_OBJECT_ID})
#set($doClassName = ${IMPORT_PACKAGE_MAP.get(${doId}).elementNode.name})
#set($aggregationRootId = ${IMPORT_PACKAGE_MAP.get("mapper::entity::${doId}")})
#set($aggregationRootClass = ${IMPORT_PACKAGE_MAP.get(${aggregationRootId}).elementNode.name})
#set($aggregationId = ${IMPORT_PACKAGE_MAP.get(${aggregationRootId}).elementNode.getParentNode().identity})
package ${IMPORT_PACKAGE_MAP.get(${OBJECT_MAPPER_ID}).get("${OBJECT_MAPPER_SOURCE_OBJECT}2${OBJECT_MAPPER_TARGET_OBJECT}Convert")};

import ${PROJECT_PACKAGE}.infrastructure.BaseConvert;
import org.mapstruct.Mapper;
import org.mapstruct.Mapping;
import org.mapstruct.factory.Mappers;
import ${IMPORT_PACKAGE_MAP.get(${aggregationRootId}).get(${aggregationRootClass})}.${aggregationRootClass};
import ${IMPORT_PACKAGE_MAP.get(${doId}).get(${doClassName})}.${doClassName};
#foreach($enum in ${DOMAIN_ENUM_LIST})
#if(${enum.getParentNode().identity} == ${aggregationId})
import ${IMPORT_PACKAGE_MAP.get(${enum.identity}).get("${enum.name}Converter")}.${enum.name}Converter;
#end
#end
#foreach($valueObject in ${DOMAIN_VALUE_OBJECT_LIST})
#if(${valueObject.getParentNode().identity} == ${aggregationId})
import ${IMPORT_PACKAGE_MAP.get(${valueObject.identity}).get("${valueObject.name}Converter")}.${valueObject.name}Converter;
#end
#end
#foreach($entity in ${DOMAIN_ENTITY_LIST})
#if(${entity.getParentNode().identity} == ${aggregationId})
import ${IMPORT_PACKAGE_MAP.get(${entity.identity}).get("${entity.name}Converter")}.${entity.name}Converter;
#end
#end

@Mapper(uses = {
    #foreach($enum in ${DOMAIN_ENUM_LIST})
    #if(${enum.getParentNode().identity} == ${aggregationId})
        ${enum.name}Converter.class,
    #end
    #end
    #foreach($valueObject in ${DOMAIN_VALUE_OBJECT_LIST})
    #if(${valueObject.getParentNode().identity} == ${aggregationId})
        ${valueObject.name}Converter.class,
    #end
    #end
    #foreach($entity in ${DOMAIN_ENTITY_LIST})
    #if(${entity.getParentNode().identity} == ${aggregationId})
        ${entity.name}Converter.class,
    #end
    #end
})
public interface ${OBJECT_MAPPER_SOURCE_OBJECT}2${OBJECT_MAPPER_TARGET_OBJECT}Convert extends BaseConvert<${OBJECT_MAPPER_SOURCE_OBJECT}, ${OBJECT_MAPPER_TARGET_OBJECT}> {

    ${OBJECT_MAPPER_SOURCE_OBJECT}2${OBJECT_MAPPER_TARGET_OBJECT}Convert INSTANCE = Mappers.getMapper(${OBJECT_MAPPER_SOURCE_OBJECT}2${OBJECT_MAPPER_TARGET_OBJECT}Convert.class);

    #foreach ($mapper in ${OBJECT_MAPPER_OBJECT_FIELD_LIST})
    #if(${mapper.sourceField} && ${mapper.targetField})
    @Mapping(source = "${mapper.sourceField}", target = "${mapper.targetField}")
    #end
    #end
    @Override
    ${OBJECT_MAPPER_TARGET_OBJECT} dto2Do(${OBJECT_MAPPER_SOURCE_OBJECT} dto);

    #foreach ($mapper in ${OBJECT_MAPPER_OBJECT_FIELD_LIST})
    #if(${mapper.sourceField} && ${mapper.targetField})
    @Mapping(source = "${mapper.targetField}", target = "${mapper.sourceField}")
    #end
    #end
    @Override
    ${OBJECT_MAPPER_SOURCE_OBJECT} do2Dto(${OBJECT_MAPPER_TARGET_OBJECT} d);
}
