#parse("templates/Cmd.vm")
package ${CMD_DTO_PACKAGE_PATH};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import java.util.List;

#comment("${CMD_CLASS_DESCRIPTION}")
@Data
@ApiModel(value = "${CMD_CLASS_DESCRIPTION}")
public class ${CMD_CLASS_NAME}DTO {
    #filedExt($CMD_CLASS_FIELDS, ["swagger"])

}