<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wakedt.visual.infrastructure.universallanguage.repository.mapper.UniversalLanguageMapper">

    <select id="universalLanguageQuery" parameterType="com.wakedt.visual.client.universallanguage.query.UniversalLanguageQuery"
            resultType="com.wakedt.visual.infrastructure.universallanguage.repository.model.UniversalLanguageDO">
        SELECT *
        FROM wd_universal_language t1
        <where>
            <if test="id != null">
                AND t1.id = #{id}
            </if>
        </where>
    </select>

    <select id="universalLanguagePageQuery" parameterType="com.wakedt.visual.client.universallanguage.query.UniversalLanguagePageQuery"
            resultType="com.wakedt.visual.infrastructure.universallanguage.repository.model.UniversalLanguageDO">
        SELECT *
        FROM wd_universal_language t1
        <where>
            <if test="conception != null and conception != ''">
                AND t1.conception LIKE CONCAT('%',#{conception},'%')
            </if>
            <if test="languageType != null and languageType != ''">
                AND t1.language_type LIKE CONCAT('%',#{languageType},'%')
            </if>
            <if test="identity != null">
                AND t1.identity = #{identity}
            </if>
        </where>
        ORDER BY t1.create_time
    </select>

</mapper>