#parse("AggregationLabel.vm")
package ${AggregationpackagePath};

import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Component;
import java.util.List;

import javax.annotation.Resource;
#importPackage($AggregationImportPackages)

#comment()
@Slf4j
@Component
public class ${AggregationName}RespositoryImpl implements ${AggregationName}Respository {

    @Resource
    private ${AggregationName}Mapper mapper;

    @Override
    public Long create${AggregationName} (${AggregationName} aggregation){
        ${AggregationName}DO aggregationDO = BeanUtil.copy(aggregation, ${AggregationName}.class);
        mapper.insert(aggregationDO);
        return aggregationDO.getId();
    }

    @Override
    public void update${AggregationName} (${AggregationName} aggregation){
        ${AggregationName}DO aggregationDO = BeanUtil.copy(aggregation, ${AggregationName}.class);
        mapper.updateById(aggregationDO);
    }

    @Override
    public void delete${AggregationName} (Long id){
        ${AggregationName}DO aggregationDO = BeanUtil.copy(aggregation, ${AggregationName}.class);
        mapper.deleteById(id);
    }

    @Override
    public List<${AggregationName}> select${AggregationName} (){
        ${AggregationName}DO aggregationDO = BeanUtil.copy(aggregation, ${AggregationName}.class);

        return mapper.selectList(null);
    }
}
