#parse("templates/Aggregation.vm")
package ${ProjectPackage}.adapter.${DomainName}.${AggregationLowName}.web;

import javax.annotation.Resource;
import com.wakedata.common.core.dto.ResultDTO;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

#comment("${AggregationDescription}-web-controller")
@RestController
@RequestMapping("/web/${CaseFormatLowerHyphen.convert(${AggregationName})}")
@Api(value = "/web/${CaseFormatLowerHyphen.convert(${AggregationName})}", tags = "${AggregationDescription}")
public class Web${AggregationName}Controller {

#foreach($cmd in ${CmdList})
    @Resource
    private ${cmd.umlClass.className}Handler ${cmd.umlClass.className.substring(0, 1).toLowerCase()}${cmd.umlClass.className.substring(1)}Handler;
#end

    @Resource
    private ProjectPageQueryExe projectPageQueryExe;
#foreach ($cmd in ${CmdList})

    @ApiOperation("${cmd.umlClass.classDesc}")
    @RequestMapping("/${CaseFormatLowerHyphen.convert(${cmd.umlClass.classPackage})}")
    public ResultDTO ${cmd.umlClass.classPackage}(${cmd.umlClass.className} cmd) {
        ${cmd.umlClass.className.substring(0, 1).toLowerCase()}${cmd.umlClass.className.substring(1)}Handler.handle(cmd);
        return ResultDTO.success();
    }
#end

    @ApiOperation("分页查询项目信息")
    @RequestMapping("/project-page-query")
    public PageResultDTO<List<ProjectDTO>> projectPageQuery(ProjectPageQuery query) {
        return projectPageQueryExe.execute(query);
    }
}
