#parse("templates/Aggregation.vm")
package $DOPackagePath;

import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.EqualsAndHashCode;
import javax.persistence.*;
import java.util.List;
import ${PROJECT_PACKAGE}.infrastructure.BaseJpaAggregate;

#comment("${AGGREGATION_CLASS_DESCRIPTION}实体类")
@Entity
@Data
@EqualsAndHashCode(callSuper = true)
@Table(name = "${AGGREGATION_TABLE_NAME}")
@TableName("${AGGREGATION_TABLE_NAME}")
public class ${AGGREGATION_CLASS_NAME}DO extends BaseJpaAggregate {
#foreach ($field in $AGGREGATION_CLASS_FIELDS)

    #if($field.description)
    /** ${field.description} */
    #end
    ${field.modifier} ${AGGREGATION_GENERATOR_UTIL.doEnumType2Value(${field.type})} ${field.name};
#end
}