## 引入公共类方法
#parse("templates/ClassFunction.vm")
## ============= 定义聚合变量,用于生成绑定的模版文件 ==============
## 聚合名小写加中划线, 例如: spell-group
#set($AGGREGATION_CLASS_NAME_LOWER_HYPHEN = "${CASE_FORMAT_LOWER_HYPHEN.convert(${AGGREGATION_CLASS_NAME})}")
## 聚合名小写加下划线, 例如: spell_group
#set($AGGREGATION_CLASS_NAME_LOWER_UNDERSCORE = "${CASE_FORMAT_LOWER_UNDERSCORE.convert(${AGGREGATION_CLASS_NAME})}")
## 聚合名首字母小写
#set($AGGREGATION_CLASS_NAME_FIRST_LOWER = "${CASE_FORMAT_LOWER_CAMEL.convert(${AGGREGATION_CLASS_NAME})}")
## 聚合数据库表名
#set($AGGREGATION_TABLE_NAME = "${CASE_FORMAT_LOWER_UNDERSCORE.convert(${DOMAIN_NAME})}_${AGGREGATION_CLASS_NAME_LOWER_UNDERSCORE}")
##
## 依赖
#macro(dependencyCmdDTO)
#foreach ($cmd in ${AGGREGATION_CMD_LIST})
import ${IMPORT_PACKAGE_MAP.get("${cmd.category}DTO")}.${cmd.category}DTO;
#end
#end
#macro(dependencyCmdDTOConvert)
#foreach ($cmd in ${AGGREGATION_CMD_LIST})
import ${IMPORT_PACKAGE_MAP.get("${cmd.category}DTOConvert")}.${cmd.category}DTOConvert;
#end
#end
#macro(dependencyCmd)
#foreach ($cmd in ${AGGREGATION_CMD_LIST})
import ${IMPORT_PACKAGE_MAP.get(${cmd.name})}.${cmd.name};
#end
#end
#macro(dependencyCmdHandler)
#foreach ($cmd in ${AGGREGATION_CMD_LIST})
import ${IMPORT_PACKAGE_MAP.get("${cmd.name}Handler")}.${cmd.name}Handler
#end
#end
#macro(dependencyEnumConverter)
#foreach ($aggregatioEnum in ${AGGREGATION_ENUM_LIST})
import import ${IMPORT_PACKAGE_MAP.get("${aggregatioEnum.name}Converter")}.${aggregatioEnum.name}Converter;
#end
#end