## 引入公共类方法
#parse("templates/ClassFunction.vm")
## 引入领域图谱变量
#parse("templates/DomainChart.vm")
## ============= 定义聚合变量,用于生成绑定的模版文件 ==============
## 聚合名
#set($AggregationName = $ClassName)
## 聚合类的描述信息
#set($AggregationDescription = $ClassDescription)
## 聚合类的属性列表
#set($AggregationFields = $ClassFields)
## 聚合类的方法列表
#set($AggregationMethods = $ClassMethods)
## 聚合名小写加下划线, 例如: spell_group
#set($AggregationLowerUnderscoreName = "$AggregationLowerUnderscoreName")
## 聚合名全小写
#set($AggregationLowName = "${AggregationName.toLowerCase()}")
#set($CmdList = $CmdList)
#set($EventList = $EventList)
#set($ValueObjectList = $ValueObjectList)
## 聚合的包路径
#set($AggregationPackagePath = "${ProjectPackage}.domain.${DomainName}.${AggregationLowName}")
## 仓储实现类的包路径
#set($RepositoryImplPackagePath = "${ProjectPackage}.infrastructure.${DomainName}.repository")
## 实体聚合转换器的包路径
#set($ConvertPackagePath = "${ProjectPackage}.infrastructure.${DomainName}.assembler")
## 实体类的包路径
#set($DOPackagePath = "${ProjectPackage}.infrastructure.${DomainName}.repository.model")
## Mapper类的包路径
#set($MapperPackagePath = "${ProjectPackage}.infrastructure.${DomainName}.repository.mapper")