## 引入公共类方法
#parse("templates/ClassFunction.vm")
## ============= 定义聚合变量,用于生成绑定的模版文件 ==============
## 聚合名小写加下划线, 例如: spell_group
#set($AGGREGATION_CLASS_NAME_LOWER_UNDERSCORE = "${CASE_FORMAT_LOWER_HYPHEN.convert(${AGGREGATION_CLASS_NAME})}")
## 聚合名首字母小写
#set($AGGREGATION_CLASS_NAME_FIRST_LOWER = "${CASE_FORMAT_LOWER_CAMEL.convert(${AGGREGATION_CLASS_NAME})}")
## 聚合的包路径
#set($AGGREGATION_PACKAGE_PATH = "${PROJECT_PACKAGE}.domain.${DOMAIN_NAME}.${AGGREGATION_CLASS_NAME_ALL_LOWER}")
## 仓储实现类的包路径
#set($RepositoryImplPackagePath = "${PROJECT_PACKAGE}.infrastructure.${DOMAIN_NAME}.repository")
## 实体聚合转换器的包路径
#set($InfraConvertPackagePath = "${PROJECT_PACKAGE}.infrastructure.${DOMAIN_NAME}.assembler")
## 实体类的包路径
#set($DOPackagePath = "${PROJECT_PACKAGE}.infrastructure.${DOMAIN_NAME}.repository.model")
## Mapper类的包路径
#set($MapperPackagePath = "${PROJECT_PACKAGE}.infrastructure.${DOMAIN_NAME}.repository.mapper")
## view 包路径
#set($ViewPackagePath = "${PROJECT_PACKAGE}.app.${DOMAIN_NAME}.view")