## ============= 类import列表 =============
#macro(importPackage $importPackages)
#foreach ($importPackage in $importPackages)
import ${importPackage};
#end
#end
## ============= 类描述 =============
#macro(comment $description)
/**
 * $description
 *
 * @author ${DomainAuthor}
 * @date ${DomainDateTime}
 * @since 1.0
 */
#end
## ============= 类字段列表 =============
#macro(filed $filedList)
    #foreach ($field in $filedList)

    #if($field.description)
    /** ${field.description} */
    #end
    ${field.modifier} ${field.type} ${field.name};
    #end
#end
## ============= 类拓展字段列表 =============
#macro(filedExt $filedList, $arguments)
    #foreach ($field in $filedList)

        #foreach($arg in $arguments)
            #if($field.description)
                #if($arg == "swagger")
                    #filedSwagger($filedList)
                #end
            #end
        #end
    ${field.modifier} ${field.type} ${field.name};
    #end
#end
## ============= 类swagger字段注解 =============
#macro(filedSwagger $filedList)
    @ApiModelProperty(value = "${field.description}")
#end
## ============= 类方法列表 =============
#macro(method $methodList)
    #foreach ($method in $methodList)

    #if($method.description)
     /** ${method.description} */
    #end
    ${method.modifier} ${method.returnType} ${method.name}(${method.attributeLabel}){
        // Do Something
        #if($method.returnType != "void")
        return null;
     #end
    }
    #end
#end
## ============= 继承方法列表 =============
#macro(overrideMethod $methodList)
    #foreach ($method in $methodList)

    #if($method.description)
     /** ${method.description} */
    #end
    @Override
    ${method.modifier} ${method.returnType} ${method.name}(${method.attributeLabel}){
        // Do Something
        #if($method.returnType != "void")
        return null;
     #end
    }
    #end
#end
## ============= 接口方法列表 =============
#macro(interfaceMethod $methodList)
    #foreach ($method in $methodList)

    #if($method.description)
    /** ${method.description} */
    #end
    ${method.returnType} ${method.name}(${method.attributeLabel});
    #end
#end
## ============= 抽象方法列表 =============
#macro(abstractMethod $methodList)
    #foreach ($method in $methodList)

    #if($method.description)
    /** ${method.description} */
    #end
    public abstract ${method.returnType} ${method.name}(${method.attributeLabel});
    #end
#end