## 引入公共类方法
#parse("templates/ClassFunction.vm")
## ==================== 指令相关变量 =======================
## 指令包路径
#set($CMD_PACKAGE_PATH = "${PROJECT_PACKAGE}.domain.${DOMAIN_NAME}.${AGGREGATION_CLASS_NAME_ALL_LOWER}.${CMD_CLASS_PACKAGE}")
