## 引入公共类方法
#parse("templates/ClassFunction.vm")
## ==================== 指令相关变量 =======================
## 指令包路径
#set($CMD_PACKAGE_PATH = "${PROJECT_PACKAGE}.domain.${DOMAIN_NAME}.${AGGREGATION_CLASS_NAME_ALL_LOWER}.${CMD_CLASS_PACKAGE}")
## 指令DTO包路径
#set($CMD_DTO_PACKAGE_PATH = "${PROJECT_PACKAGE}.client.${DOMAIN_NAME}.${AGGREGATION_CLASS_NAME_ALL_LOWER}.dto")
## 指令DTO转换器 包路径
#set($CMD_APP_CONVERT_PACKAGE_PATH = "${PROJECT_PACKAGE}.app.${DOMAIN_NAME}.${AGGREGATION_CLASS_NAME_ALL_LOWER}.assembler")