## 引入公共类方法
#parse("templates/ClassFunction.vm")
## ============= 定义聚合变量,用于生成绑定的模版文件 ==============
## RPCService接口 包路径
#set($DOMAIN_RPC_SERVICE_PACKAGE_PATH = "${PROJECT_PACKAGE}.client.${DOMAIN_URL_NAME}")
## 依赖
#macro(dependencyAllDTO)
import ${PROJECT_PACKAGE}.client.${DOMAIN_URL_NAME}.dto.*;
#end
#macro(dependencyAllQuery)
import ${PROJECT_PACKAGE}.client.${DOMAIN_URL_NAME}.query.*;
#end
#macro(dependencyAllView)
import ${PROJECT_PACKAGE}.app.${DOMAIN_URL_NAME}.view.*;
#end
#macro(dependencyAllAssembler)
import ${PROJECT_PACKAGE}.app.${DOMAIN_URL_NAME}.assembler.*;
#end
##
#macro(dependencyCmdDTO)
#foreach ($cmd in ${DOMAIN_CMD_LIST})
import ${PROJECT_PACKAGE}.client.${DOMAIN_URL_NAME}.dto.${cmd.category}DTO;
#end
#end
#macro(dependencyCmdDTOConvert)
#foreach ($cmd in ${DOMAIN_CMD_LIST})
import ${PROJECT_PACKAGE}.app.${DOMAIN_URL_NAME}.assembler.${cmd.category}DTOConvert;
#end
#end
#macro(dependencyCmd)
#foreach ($cmd in ${DOMAIN_CMD_LIST})
import ${IMPORT_PACKAGE_MAP.get(${cmd.name})}.${cmd.name};
#end
#end
#macro(dependencyCmdHandler)
#foreach ($cmd in ${DOMAIN_CMD_LIST})
import ${IMPORT_PACKAGE_MAP.get("${cmd.name}Handler")}.${cmd.name}Handler;
#end
#end
#macro(dependencyQuery)
#foreach ($query in ${DOMAIN_QUERY_LIST})
import ${PROJECT_PACKAGE}.client.${DOMAIN_URL_NAME}.query.${query.name};
#end
#end
#macro(dependencyQueryExe)
#foreach ($query in ${DOMAIN_QUERY_LIST})
import ${PROJECT_PACKAGE}.app.${DOMAIN_URL_NAME}.view.${query.name}Exe;
#end
#end
#macro(dependencyQueryResult)
#foreach ($queryResult in ${DOMAIN_QUERY_RESULT_LIST})
import ${PROJECT_PACKAGE}.client.${DOMAIN_URL_NAME}.dto.${queryResult.name};
#end
#end
#macro(dependencyEnumConverter)
#foreach ($aggregatioEnum in ${DOMAIN_ENUM_LIST})
import ${PROJECT_PACKAGE}.domain.${DOMAIN_URL_NAME}.${DOMAIN_CLASS_NAME_ALL_LOWER}.${aggregatioEnum.name}Converter;
#end
#end