## 引入项目变量
#parse("templates/Project.vm")
## ============= 定义领域图谱变量 ==============
## 领域名
#set($DomainName = $DomainName)
## 领域作者
#set($DomainAuthor = $DomainAuthor)
## 代码生成时间
#set($DomainDateTime = ${DomainDateTime})