## 引入公共类方法
#parse("templates/ClassFunction.vm")
## ==================== 查询结果集相关变量 =======================
## 查询结果集包路径
#set($QUERY_RESULT_PACKAGE_PATH = "${PROJECT_PACKAGE}.client.${DOMAIN_NAME}.${AGGREGATION_CLASS_NAME_ALL_LOWER}.dto")
