#parse("Event.vm")
package ${EventpackagePath};

#importPackage($AggregationImportPackages)
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;

#comment($EventDescription)
@Data
@EqualsAndHashCode(callSuper = true)
@NoArgsConstructor
public class ${EventName}  {

    #filed($EventFields)

    @Override
    public String eventCode() {
        //自定义eventCode，不能为空，需要符合既定格式，查看父类可以看到正则校验
        //统一放在‘common-event-code.yml’中，本地直接通过spring el表达式获取，例如：organization.attribute.create.event-code}
        return null;
    }

}
