#parse("templates/Controller.vm")
package ${IMPORT_PACKAGE_MAP.get("${DOMAIN_CLASS_NAME}WebController")};

#controllerImport()

#comment("${DOMAIN_DESCRIPTION}-web-controller")
@RestController
@RequestMapping("/web/${CASE_FORMAT_LOWER_HYPHEN.convert(${DOMAIN_CLASS_NAME})}")
@Api(value = "/web/${CASE_FORMAT_LOWER_HYPHEN.convert(${DOMAIN_CLASS_NAME})}", tags = "B端-${DOMAIN_DESCRIPTION}")
public class ${DOMAIN_CLASS_NAME}WebController {
#controller()
}