#parse("templates/BusinessController.vm")
package ${IMPORT_PACKAGE_MAP.get(${BUSINESS_ID}).get("${BUSINESS_CLASS_NAME}WebController")};

#businessControllerImport()

#comment("${BUSINESS_DESCRIPTION}-web-controller")
@RestController
@RequestMapping("/web/${CASE_FORMAT_LOWER_HYPHEN.convert(${BUSINESS_CLASS_NAME})}")
@Api(value = "/web/${CASE_FORMAT_LOWER_HYPHEN.convert(${BUSINESS_CLASS_NAME})}", tags = "B端-${BUSINESS_TITLE}")
public class ${BUSINESS_CLASS_NAME}WebController {
#businessController()
}