#parse("AggregationLabel.vm")
package ${AggregationImportPackages};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.springframework.stereotype.Repository;
import org.apache.ibatis.annotations.Mapper;
#importPackage($AggregationImportPackages)

#comment($AggregationDescription)
@Mapper
public interface ${AggregationName}Mapper extends BaseMapper<${AggregationName}DO> {


}
