package ${package};

// 聚合根模板
public class ${className} {

    #foreach($field in $fields)
    private ${field.type} ${field.name};
    #end

    #foreach($field in $fields)
    public void set${StringUtils.capitalize($field.name)}(${field.type} ${field.name}) {
        this.${field.name} = ${field.name};
    }
    #end

    #foreach($field in $fields)
    public ${field.type} get${StringUtils.capitalize($field.name)}() {
        return this.${field.name};
    }
    #end
}
