#parse("Aggregation.vm")
package ${AggregationpackagePath};

import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
#importPackage($AggregationImportPackages)

#comment($AggregationDescription)
@Data
@TableName()
public class ${AggregationName} {

    #filed($AggregationFields)

}
