#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get(${CMD_ID}).get("${CMD_DTO_CLASS}")};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import java.util.List;

#comment("${CMD_CLASS_DESCRIPTION}")
@Data
@ApiModel(value = "${CMD_CLASS_DESCRIPTION}")
public class ${CMD_DTO_CLASS} {
#dtoFiled(${CMD_CLASS_FIELDS})

}