#parse("templates/ClassFunction.vm")
package ${IMPORT_PACKAGE_MAP.get(${ENTITY_ID}).get("${ENTITY_DTO_CLASS_NAME}")};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import java.util.*;
import java.math.*;
import java.time.LocalDateTime;

#comment("${ENTITY_CLASS_TITLE}")
@Data
@ApiModel(value = "${ENTITY_CLASS_TITLE}")
public class ${ENTITY_DTO_CLASS_NAME} {
#dtoFiled(${ENTITY_CLASS_FIELDS})

}