#parse("templates/PageQuery.vm")
package ${PAGE_QUERY_PACKAGE_PATH};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import java.util.List;
import io.swagger.annotations.ApiModelProperty;
import com.wakedata.common.core.dto.PageQuery;
import lombok.EqualsAndHashCode;

#comment("$PAGE_QUERY_CLASS_DESCRIPTION-分页查询对象")
@Data
@EqualsAndHashCode(callSuper = true)
@ApiModel(value = "${PAGE_QUERY_CLASS_DESCRIPTION}分页查询对象")
public class ${PAGE_QUERY_CLASS_NAME} extends PageQuery {
    #filedExt($PAGE_QUERY_CLASS_FIELDS, ["swagger"])

}