#parse("templates/Query.vm")
package $QUERY_PACKAGE_PATH;

import io.swagger.annotations.ApiModel;
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import java.util.List;
import com.wakedata.common.core.base.BaseQuery;
import lombok.EqualsAndHashCode;

#comment("$QUERY_CLASS_DESCRIPTION-查询对象")
@Data
@EqualsAndHashCode(callSuper = true)
@ApiModel(value = "${QUERY_CLASS_DESCRIPTION}查询对象")
public class ${QUERY_CLASS_NAME} extends BaseQuery {
    #filedExt($QUERY_CLASS_FIELDS, ["swagger"])

}