target/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr
*.versionsBackup
out/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
bin/
doc/
.DS_Store
data/
logs
