#parse("../../../../../../../../../AggregationLabel.vm")
package ${AggregationpackagePath};

import org.springframework.web.bind.annotation.*;

#importPackage($AggregationImportPackages)

#comment($AggregationDescription)
@RestController
public class ${AggregationName} {


}
